.section-four {
    padding: 0 30px 0 30px;
    height: 772px;
    background: linear-gradient(180deg, #FFF6FB 0%, #FFFFFF 100%);
    width: 100%;
}
.image-grid{
    margin-left: -17px;
    width: 375px;
    height: 375px;
    background-color:#fff;
    display:grid;
    grid-template-columns: 164px 164px;
    grid-row: auto auto;
    grid-column-gap: 25px;
    grid-row-gap: 25px;
  }