.section-five {
    padding: 0 30px 0 30px;
    height: 394px;
    background: linear-gradient(176.88deg, #F3B8BC 2.58%, #FFDAD4 93.07%);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}