.section-two {
    padding: 0 30px 0 30px;
    height: 841px;
    background: linear-gradient(165.41deg, #D99EC9 0%, rgba(246, 240, 196, 0) 100%);
    width: 100%;
}

.paragraph {
    height: 620px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}