.section-seven {
    padding: 0 30px 0 30px;
    height: 646px;
    background: #F66E6E;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: column;
    justify-content: center;
}