.section-one {
    padding: 63px 30px 0 30px;;
    height: 1685px; 
    background: linear-gradient(180deg, #FFF6FB 0%, #E7F6FC 33.33%, rgba(213, 224, 255, 0) 100%);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.align-left {
    display: flex;
    text-align: left;
}