.icon {
    width: 24px;
    margin-top: 18px;
    margin-left: 24px;
}

.float-right {
    float: right;
    margin-right: 25px;
}

.top-bar {
    position: fixed;
    top: 0;
    width: 100%;
    height: 63px;
    background: rgba(255, 255, 255, 0.47);
    box-shadow: 0px 4px 14px rgba(24, 160, 251, 0.12);
    backdrop-filter: blur(4px); 
    border-radius: 0px 0px 14px 14px;
}