.button-medium {
    width: 287px;
    height: 43px;
    border-radius: 27px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Poppins';
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#button-text {
    margin-left: -20px;
    margin-right: 30px;
}

.right-icon {
    width: 26.91px;
    height: 24px;
    margin-right: -40px;
}