.button-small {
    width: 85px;
    height: 27.48px;
    border-radius: 17.2556px;
    font-size: 8.95px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    margin-left: 7px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-small img {
    margin-right: 7.89px;
    margin-left: -7.89px;

}