/*DM Sans Resular 400*/
@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');

/*Poppins Light 300*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

/**/
@font-face {
    font-family: 'Reptile-Medium';
    src: local('Reptile-Medium') url(./fonts/Reptile-Medium.otf) format('otf');
}

/*Inter 400*/
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-break: break-word;
}

.consultant, .self-care-product, .menstrual-calendar {
    display: block;
}