* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-break: break-word;
}

.consultant, .self-care-product, .menstrual-calendar {
    display: block;
}

.self-care-product {
    margin-top: -134px;
}